<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="Author Name" value="SOPPER"/>

    <add key="sqlconn" value="Data Source=(local);password=sa;user id=sa;Initial Catalog =db"/>

  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
